<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>30</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>29</string>
					<key>Timestamp</key>
					<string>729370900.9020621</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>iJamGuitar/Views/StringsAndFretsAreaView.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>                                    capoPosition: appState.capoPosition)
</string>
				<key>leading</key>
				<string>                    FretNumbersView(width: width * 0.12,
                                    height: height / 2, 
</string>
				<key>trailing</key>
				<string>                    FretBoardView(width: width * 0.76,
                                  height: height / 2)
                    FretNumbersView(width: width * 0.12,
</string>
			</dict>
			<key>title</key>
			<string>need value here!!</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>199</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>198</string>
					<key>Timestamp</key>
					<string>729133158.755931</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>iJamGuitar/Extensions/iJamViewModelExtension.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>        return highest &lt; 6 ? 1 : max(1, highest - 4)    }
</string>
				<key>leading</key>
				<string>        }
        
</string>
				<key>trailing</key>
				<string>}
</string>
			</dict>
			<key>title</key>
			<string>Use clamp instea</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
